<h1 mat-dialog-title>Добавление студентов на курс</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Студент</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let i of students" [value]="i">{{i.firstName + " " + i.middleName + " " + i.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отменить</button>
  <button mat-button [disabled]="selected == null" (click)="onSaveClick()" >Добавить</button>
</div>
