/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.example-container .button-panel {
  display: flex;
  justify-content: flex-end;
}

.subheader {
  display: flex;
}

.subheader h2 {
  padding-top: 3px;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-dialog-container h1 {
  text-align: center;
}

.mat-dialog-container .mat-dialog-actions {
  justify-content: center;
}
