<div class="tab">
  <div class="about-tab">
    <div class="tab_item">
      <h2 class="intro-suptitle">choose</h2>
      </div>
    </div>
</div>

<section class="section">
  <div class="content">
    <div class="item">
      <a class="button" href="room"> room </a>
      <a class="button" href="teacher">teacher</a>
      <a class="button" href="user">user</a>

    </div>
    <div class="item">
      <a class="button" href="#">lesson</a>
      <a class="button" href="student">student</a>
      <a class="button" href="course"> course</a>
    </div>
  </div>
</section>
