<div class="example-container mat-elevation-z8">
  <div *ngIf="isLoadingResults || isRateLimitReached"
       class="example-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
      Ожидание
    </div>
  </div>

  <div class="example-table-container">

    <table [dataSource]="data" class="example-table" mat-table
           matSort matSortActive="createDate" matSortDirection="desc" matSortDisableClear>
      <!-- Number Column -->
      <ng-container matColumnDef="idd">
        <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>#</th>
        <td *matCellDef="let row" mat-cell>{{row.idd}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Наименование</th>
        <td *matCellDef="let row" mat-cell>{{row.name}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="number">
        <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Инвентарный номер</th>
        <td *matCellDef="let row" mat-cell>{{row.number}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="createDate">
        <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header>Дата обновления</th>
        <td *matCellDef="let row" mat-cell>{{row.createDate}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="sizeOption" [pageSize]="5"></mat-paginator>
</div>
