<!-- Toolbar -->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="http://localhost:4200/main">Studion5</a>
      <div class="spacer"></div>

      <nav class="nav">
        <a class="nav-link" href="http://localhost:4200/help">Help </a>
        <a class="nav-link" href="http://localhost:4200/room">room </a>
      </nav>
    </div>
  </div>
</header>

<div class="content" role="main">
  <router-outlet></router-outlet>
<!--  <footer>
footer
  </footer>-->
</div>

