

<!-- Toolbar -->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">Studion5</div>
      <div class="spacer"></div>

      <nav class="nav">
        <a class="nav-link" href="#">Help </a>
        <a class="nav-link" href="http://localhost:4200/room">room </a>
        <a class="nav-link" href="http://localhost:4200/main">main </a>
      </nav>
    </div>
  </div>
</header>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <footer>
<!--
    <a href="https://github.com/npolovnikov/spring-angular-project" target="_blank">GitHub</a>
-->
  </footer>
</div>

