<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">Ожидание</div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="createDate" matSortDisableClear matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="idd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>#</th>
        <td mat-cell *matCellDef="let row">{{row.idd}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Название</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Описание</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="courseIdd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ID курса</th>
        <td mat-cell *matCellDef="let row">{{row.courseIdd}}</td>
      </ng-container>

      <ng-container matColumnDef="roomIdd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ID кабинета</th>
        <td mat-cell *matCellDef="let row">{{row.roomIdd}}</td>
      </ng-container>

      <ng-container matColumnDef="extraInstruments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Инструменты</th>
        <td mat-cell *matCellDef="let row">{{row.extraInstruments}}</td>
      </ng-container>

      <ng-container matColumnDef="lessonDateStart">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Дата начала</th>
        <td mat-cell *matCellDef="let row">{{row.lessonDateStart}}</td>
      </ng-container>

      <ng-container matColumnDef="lessonDateEnd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Дата окончания</th>
        <td mat-cell *matCellDef="let row">{{row.lessonDateEnd}}</td>
      </ng-container>

      <!-- Created Column -->
      <!-- mat-sort-header disableClear - это возможность сортировки по данному полю -->
      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Дата обновления</th>
        <td mat-cell *matCellDef="let row">{{row.createDate}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- добавили [pageSizeOptions]="sizeOption" - возможность выбора кол-ва элем-в на стр-це
  [pageSize]="5" - начальное значение -->
  <mat-paginator [length]="resultsLength" [pageSizeOptions]="sizeOption" [pageSize]="5"></mat-paginator>
</div>
