/* Structure */
.example-container {
  position: relative;
  min-height: 100px;
  margin-top: 42px;
  border: 1px solid chartreuse;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
  background: #2d2d2d;

  flex-direction: column;
  align-items: stretch;
  display: flex
}

table {
  width: 100%;
  border: 1px solid chocolate;
}

.example-rate-limit-reached {
  color: #f80a0a;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
.button-panel{
  display: flex;
  justify-content: flex-end;
}
.content{
  border: 1px solid #ff5088;
/*  padding-top: 30px;*/
/*  margin: 50px;*/
}
