<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="50" alt="Региональный институт непрерывного образования" src="../assets/rino.png"/>
  <span style="color: white">Учебный проект</span>
    <div class="spacer">
      <a class="lk" href="../room">Кабинет</a>
      <a class="lk" href="../instrument">Инструмент</a>
      <a class="lk" href="../course" >Курс</a>
      <a class="lk" href="../lesson">Урок</a>
      <a class="lk" href="../student">Студент</a>
      <a class="lk" href="../teacher">Преподаватель</a>
    </div>

    <a aria-label="Digital Future Systems" target="_blank" href="http://dfsystems.ru/" title="dfsystems">
      <img height="50" alt="Digital Future Systems" src="../assets/dfs.png"/>
    </a>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <footer>
      &nbsp;2020&nbsp;
      <a href="https://github.com/npolovnikov/spring-angular-project/tree/kapitanov" target="_blank">GitHub</a>

  </footer>

</div>




