<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img height="60" alt="Региональный институт непрерываного образвания" src="../assets/rino.png"/>
  <span>Учебный проект Spring - Angular</span>
  <div class="spacer"></div>
  <a aria-label="Digital Future Systems" target="_blank" rel="noopener" href="https://dfsystems.ru" title="DFSystems">
    <img height="50" alt="Digital Future Systems" src="../assets/dfs.png"/>
  </a>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <footer>
    2020&nbsp;
    <a href="https://github.com/npolovnikov/spring-angular-project" target="_blank">GitHub</a>
  </footer>
</div>
