<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Региональный институт непрерываного образвания" height="60" src="../assets/rino.png"/>
  <span>Учебный проекта Spring - Angular</span>
  <div class="spacer"></div>
  <a aria-label="Digital Future Systems" href="https://dfsystems.ru" rel="noopener" target="_blank" title="DFSystems">
    <img alt="Digital Future Systems" height="50" src="../assets/dfs.png"/>
  </a>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <footer>
    2020&nbsp;
    <a href="https://github.com/npolovnikov/spring-angular-project" target="_blank">GitHub</a>
  </footer>
</div>
