/* intro*/
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
/*  text-align: center;*/
}

.intro-title{
  font-size: 70px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
}

.intro-suptitle{
  font-family: 'Inconsolata', sans-serif;
  font-size: 35px;
  color: #0c0000;
}

.intro-inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  color: #0c0000;
  justify-content: center;
  text-align: center;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}


/*HEADER*/
.header{
  padding-top: 10px;
  position: absolute;
  background-color: rgba(103, 205, 204, 0.19);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

/*nav*/
.nav{
  font-size: 14px;
  text-transform: uppercase;
}
/*nav-link*/
.nav-link{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 10px;
  color: #a868ea;
  text-decoration: none;

  transition: color .2s linear;
}
.nav-link:after {
  content: "";
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: #9859d9;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .2s linear;
}

.nav-link:hover{
  color: #9859d9;
}
.nav-link:hover:after{
  opacity: 1;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;

  border: 1px solid rgb(238, 151, 97);

  text-align: unset;
  font-size: 14px;
  font-weight: 700;
  color: rgb(238, 151, 97);
  text-transform: uppercase;
  text-decoration: #0086b3;

  transition: background .1s
  linear, color .1s linear;
}
.btn:hover{
  background-color: rgb(238, 151, 97);
  color: #ffffff;
}

.intro-middle{

}

.intro-middle-title{
  text-align: center;
  size: 20px;
}
