<!-- если есть idd, то Редактирование -->
<h1 mat-dialog-title>{{data.idd ? 'Редактирование инструмента ' + data.idd : 'Создание нового инструмента'}}</h1>
<div mat-dialog-content>

  <div class="subheader">
    <h2>Основное</h2>
  </div>

  <div class="line">
    <mat-form-field>
      <mat-label>Название</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Номер</mat-label>
      <input matInput [(ngModel)]="data.number">
    </mat-form-field>
  </div>

  <!--  кнопка для сворачивания истории-->
  <div class="subheader">
    <h2>История</h2>
    <div class="button-panel">
      <!-- устанавливает поле ShowHistoryTable в тру -->
      <button mat-icon-button aria-label="Скрыть" (click)="setShowHistoryTable()">
        <mat-icon>reorder</mat-icon>
      </button>
    </div>
  </div>

  <!-- ngIf="showHistoryTable",ngIf показывает итосрию, Если showHistoryTable = тру -->
  <div class="table-container" *ngIf="showHistoryTable">
    <table mat-table [dataSource]="data.history" class="history-table"
           matSort matSortActive="createDate" matSortDisableClear matSortDirection="desc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Номер</th>
        <td mat-cell *matCellDef="let row">{{row.number}}</td>
      </ng-container>

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>User ID</th>
        <td mat-cell *matCellDef="let row">{{row.userId}}</td>
      </ng-container>

      <ng-container matColumnDef="deleteDate">
        <th mat-header-cell *matHeaderCellDef>Дата удаления</th>
        <td mat-cell *matCellDef="let row">{{row.deleteDate}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="historyDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: historyDisplayedColumns;"></tr>
    </table>
  </div>

  <div class="subheader">
    <h2>Кабинеты</h2>
    <div class="button-panel">
      <button mat-icon-button aria-label="Скрыть" (click)="setShowRoomTable()">
        <mat-icon>reorder</mat-icon>
      </button>
    </div>
  </div>

  <!-- *ngIf="setShowRoomTable" - показывать таблицу, Если showRoomTable= тру -->
  <div class="table-container" *ngIf="showRoomTable">
    <!-- data.rooms получаем поле rooms, и берем из них поля-->
    <table mat-table [dataSource]="data.rooms" class="rooms-table">
      <!-- Чекбокс -->
<!--      <ng-container matColumnDef="select">-->
<!--        <th mat-header-cell *matHeaderCellDef></th>-->
<!--        <td mat-cell *matCellDef="let row">-->
<!--          <mat-checkbox (click)="$event.stopPropagation()"-->
<!--                        (change)="$event ? selection.toggle(row) : null"-->
<!--                        [checked]="selection.isSelected(row)">-->
<!--          </mat-checkbox>-->
<!--        </td>-->
<!--      </ng-container>-->

      <ng-container matColumnDef="idd">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.idd}}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Номер</th>
        <td mat-cell *matCellDef="let row">{{row.number}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="block">
        <th mat-header-cell *matHeaderCellDef>Блок</th>
        <td mat-cell *matCellDef="let row">{{row.block}}</td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef>Дата обновления</th>
        <td mat-cell *matCellDef="let row">{{row.createDate}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="roomsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: roomsDisplayedColumns;"></tr>
    </table>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отменить</button>
  <button mat-button (click)="onSaveClick()">Сохранить</button>
</div>
