<h1 mat-dialog-title>{{data.idd? 'Редактирование занятия ' + data.idd : 'Создание нового занятия'}}</h1>
<div mat-dialog-content>
  <div class="subheader">
    <h2>Основное</h2>
  </div>

  <div class="line">
    <mat-form-field>
      <mat-label>Название занятия</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Описание занятия</mat-label>
      <input matInput [(ngModel)]="data.description">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Дата начала занятия</mat-label>
      <input matInput [(ngModel)]="data.lessonDateStart">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Дата окончания занятия</mat-label>
      <input matInput [(ngModel)]="data.lessonDateEnd">
    </mat-form-field>

  </div>

  <div class="subheader">
    <h2>История</h2>
    <div class="button-panel">
      <button mat-icon-button aria-label="Скрыть" (click)="setShowHistoryTable()">
        <mat-icon>reorder</mat-icon>
      </button>
    </div>
  </div>
  <div class="table-container" *ngIf="showHistoryTable">
    <table mat-table [dataSource]="data.history" class="history-table"
           matSort matSortActive="createDate" matSortDisableClear matSortDirection="desc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Название занятия</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Описание занятия</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="deleteDate">
        <th mat-header-cell *matHeaderCellDef>Дата удаления</th>
        <td mat-cell *matCellDef="let row">{{row.deleteDate}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="historyDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: historyDisplayedColumns;"></tr>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отменить</button>
  <button mat-button (click)="onSaveClick()" >Сохранить</button>
</div>
