[Unit]
Description=Back LearningCourses
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/opt
ExecStart=/usr/lib/jvm/jre-11/bin/java -jar lc-back.jar

[Install]
WantedBy=multi-user.target